// BREADCRUMB
.breadcrumb {
  background: #f2f3f7;
  color: $text-color;
  font-family: $font-family-default;
  font-size: 1.2rem;
  @include border-radius(0);
  margin-bottom: 0;
  padding: 0;
  ol {
    @include rtl-padding-left(0);
    margin-bottom: 0;
    padding: 16px 0;
    li {
      padding: 0 15px;
      position: relative;
      display: inline-block;
      color: $breadcrumb-link-color;
      min-height: 10px;
      > span {
        color: $text-color;
      }
      a {
        font-size: 1.2rem;
        color: $text-color;
        font-family: $font-family-default;
        &:hover {
          color: $theme-color-default;
        }
      }
      &:not(:first-child) {
        &:before {
          content: "";
          position: absolute;
          @include rtl-left(-2px);
          top: calc(50% - 2px);
          font-size: 1.6rem;
          width: 4px;
          height: 4px;
          background: $text-color;
          @include rotate(45deg);
          line-height: 1.6rem;
        }
      }
      &:first-child {
        @include rtl-padding-lr(0, 15px);
         &:before {
          display: none;
         }
      }
      &:last-child {
        @include rtl-padding-lr(15px, 0);
      }
    }
  }
}
.breadcrumb-title-page {
  font-size: 2.4rem;
  font-family: $font-family-primary;
  font-weight: 600;
  color: #222;
  margin-bottom: 10px;
  line-height: 1;
}
